windowBits documentation is unclear.

In reading the documentation (and looking at the source) for inflateInit2(), it is not clear to me when it is valid to set windowBits = 0. Is doing so valid only in inflate mode, or is it also valid for unzip and gunzip?
It's clear that windowBits = 0 isn't valid in the raw inflate case because headers are ignored.

I did some testing and it appears that windowBits = 0 only works in inflate mode. i.e., not gunzip, unzip, etc. Is this right?

Maybe something like this: (take from stackexchange.com)

deflateInit() and inflateInit(), as well as deflateInit2() and inflateInit2() with windowBits in 0..15 all process zlib-wrapped deflate data. (See RFC 1950 and RFC 1951.)

deflateInit2() and inflateInit2() with negative windowBits in -1..-15 process raw deflate data with no header or trailer.  deflateInit2() and inflateInit2() with windowBits in 16..31, i.e. 16 added to 0..15, process gzip-wrapped deflate data (RFC 1952).  inflateInit2() with windowBits in 32..47 (32 added to 0..15) will automatically detect either a gzip or zlib header (but not raw deflate data), and decompress accordingly.

>I did some testing and it appears that windowBits = 0 only works in inflate mode. i.e., not gunzip, >unzip, etc. Is this right?
I've been doing some testing with inflate and I can confirm that window-bits set to anything that isn't 0 fails for zlib and raw (the returned message is invalid window size), it does however work for gzip.
I'm going to post a new issue for this as this issue is related to documentation



I noticed the same failures in my testing. I don't think this is right, but I'm not expert in zlib. Seems like if you set windowBits = 32 (0 + 32) in the gzip case it should read the header and decompress with zlib or gzip data, but that fails in my testing.

From the manual you add 32 to windowbits who's value needs to be 8-15? have you had any issues with that?
Manual: "windowBits can also be greater than 15 for optional gzip decoding. Add 32 to windowBits to enable zlib and gzip decoding with automatic header detection, or add 16 to decode only the gzip format (the zlib format will return a Z_DATA_ERROR). " 

@maryamtahhan that works fine for me. It's just the windowBits = 0 case that seems broken, or I am misunderstanding. windowBits = 0 only works properly for the deflate -> inflate case. It doesn't work with gzip data, which may be the proper behavior. It's just hard to be sure with the documentation and the seemingly conflicting comment from @madler in his stackoverflow comment.

@maryamtahhan the comment from @madler and link to stackoverflow are above, in the second comment I made here. (see above ^^^)

I agree that you can only set windowBits = 0 in the inflate case, and this works as expected.
What I'm confused about is windowBits = 32. From Mark's comments I'm lead to believe that you can set windowBits = 32, which should cause zlib to detect whether the incoming data is gzip or zlib and to read the windowBits from the header. In the case of decompressing gzip data with windowBits = 32, I get the error: "invalid distance too far back", which seems wrong.

hmm  the comment on stack overflow is confusing, it would be great to get some additional clarification alright.

If I were to break it down I simply from the zlib manual I would say
windowbits values can be:
  * -8 to -15 for raw
  * 0_(inflateInit2 Only)_ or 8-15 for zlib
  * >16 OR (8-15)+16 for gzip
  * (8-15)+32 to automatically detect gzip/zlib header
It would be good to understand if this is the case or if there are other options I'm missing

BTW, a colleague of mine (Jim Kukunas) looked into the deflateInit2 with windowbits set to 8 and found that:
_"Currently, it's impossible to deflate with windowBits set to 8. In deflateInit2, there is the following line:

 332:      if (windowBits == 8) windowBits = 9;  /* until 256-byte window bug fixed */"_
so at least that's one question answered.

That's certainly the way it works in practice and so it seems what you're saying is right. 

@madler it would be nice to hear your thoughts...

Thank you for your report.  Yes, there was a bug for windowBits equal to 16 or 32.  I just pushed a commit to github to fix that.

Thanks for raising this question. I spend whole day looking where my code was broken, and now I know that I just was passing an incorrect windowBits value